body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.col-centered {
    display: block;
    margin: auto;
}

#dropperbox {
    position: absolute;
    top: 30%;
    right: 0px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3em;
}

.popuplogin {
    position: absolute;
    top: 100%;
    left: 80%;
    min-width: 20%;
}

.leaflet-popup-content {
    min-width: 200px;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background-color: rgba(255, 255, 255, 0.164)
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-appearance: none;
    background-color: aliceblue !important;
}

:-webkit-autofill {
    color: #fff !important;
    
}

.map {
    z-index: -99999999999;
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
}

.leaflet-top,
.leaflet-left {
    position: absolute;
    top: 4em;
}